.animation {
    width: 600px;
    height: 600px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .animation {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 586px) {
    .animation {
        display: none;
    }
}

