.hero {
    &__container {
        max-width: 500px;
        display: flex;
        justify-content: start;
        margin-top: 150px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 0 20px 0 20px;

    }

    &__title {
        font-size: 34px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
    }

    &__description {
        text-align: left;
        max-width: 500px;
        margin-bottom: 30px;
        line-height: 30px;
    }
}

@media (max-width: 720px) {
    .hero {
        &__container {
            max-width: 600px;
            margin-top: 50px;
        }
        &__title {
            font-size: 30px;
        }
    }
}

@media (max-width: 568px) {
    .hero {
        &__text {
            justify-content: center;
            align-items: center;
        }

        &__description {
            text-align: center;
        }
    }
}
