.btn--primary {
    color: #000;
    background: none;
    border: 1px solid rgba(0,0,0, 0.33);
    box-sizing: border-box;
    border-radius: 999px;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    width: fit-content;  
    cursor: pointer;
    transition: 0.4s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #0f1624;
    background: #000;
    border: 1px solid #fff;
  }
  &:active {
    background: #e0e4eb;
    border: 1px solid #304169;
    box-shadow: inset 0px 2px 1px rgba(46, 49, 55, 0.15), inset 0px 0px 4px rgba(20, 20, 55, 0.3);
  }

}

.btn--outline {
  border: none;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(270deg, #F46737 0%, #945DD6 100%);
  opacity: 1;
  transition: all 1s ;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: inset 0px 2px 1px rgba(46, 49, 55, 0.15);

  &:hover {
    background: linear-gradient(270deg, #00DBD8 0%, #B133FF 100%); 
  }
}


.btns {
  cursor: pointer;
}

.btn--medium {  
  text-align: center;
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
  background: rgba(255,255,255, 0.5);
  color: #242424;
  transition: all 0.3s ease-out;transition: 250ms;
}