.header-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    &__logo-img {
        width: 50px;
        height: 50px;
        filter: invert(0);
        margin-right: 10px;     
    }

    &__logo{
        display: flex;
        align-items: center;
        span {
            font-weight: 500;
            font-size: 26px;
        }
    }

    &__nav-items {
        display: flex;

    }

    &__nav-item {
        margin-right: 15px;
        font-size: 18px;
        transition: all 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }

    &__social {
        display: flex;
    
        &-logo {
            width: 35px;
            height: 35px;
            margin-right: 13px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__logo {
            span {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__nav {
            display: none;
        }
    }
}

