.header-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    &__logo-img {
        width: 50px;
        height: 50px;
        filter: invert(0);
        margin-right: 10px;     
    }

    &__logo{
        display: flex;
        align-items: center;
        color: #000;
        span {
            font-weight: 500;
            font-size: 26px;
            color: #000;
        }
    }

    &__nav-items {
        display: flex;

    }

    &__nav-item {
        margin-right: 15px;
        font-size: 18px;
        transition: all 0.5s;
        a {
            color: #000;
            font-weight: 500;
        }
        &:hover {
            opacity: 0.9;
        }
    }

    &__nav-link {
        cursor: pointer;
        position: relative;
        transition: color 0.8s, text-shadow 0.8s;

        &:after {
            content: '';
            display: block;
            position: absolute; /* позиционируем относительно ссылки */
            bottom: 2%;
            background: #9ab1f9;
            height: 10%; /* высота относительно высоты ссылки */
            width: 0%; /* изначально ширина полосы подчеркивания равна 0% */
            z-index: -1; /* ставим полосу подчеркивания позади текста ссылки */
            transition: width 0.8s, opacity 0.8s, box-shadow 0.8s; /* для плавного изменения ширины, прозрачности, тени(свечения) */
            border-radius: 100px;
            opacity: 0; /* изначально полоса полностью прозрачна */
            box-shadow: 0 0 16px rgba(42,157,143,0);

        }

        &:hover:after {
            width: 100%;
            opacity: 1;
            box-shadow: 0 0 16px rgba(42,157,143,0.88);
          }
       &:after {
        left: 0;
        right: 0;
        margin: 0 auto;
      } 

    }

    &__social {
        display: flex;
    
        &-logo {
            width: 35px;
            height: 35px;
            margin-right: 13px;
            transition: all 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__logo {
            span {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__nav {
            display: none;
        }
    }
}

